.container {
    max-width: 800px;
}

.clickable {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.clickable:hover {
    color: darkblue;
}

.table thead th,
.table tbody td {
    text-align: center;
}

.pagination .active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #f1f1f1;
}


.table-sm th,
.table-sm td {
    font-size: 0.9rem;
}

.selected-row {
    background-color: #f0f8ff; /* Világoskék háttérszín */
}
